[build]
  command = "npm run build"
  publish = ".next" # Or "out" if using `next export`

[build.environment]
  NODE_VERSION = "18"

[[plugins]]
  package = "@netlify/plugin-nextjs"

[functions]
  directory = ".netlify/functions"
